<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="pizza1.png" type="image/png">
</head>

<body>

    <h1>Perfect Pizza</h1>

    {{> shopcart}}

    {{{body}}}

    <div class="contain contact_us">

        <h2>Contact Details</h2>

        <p id="contact">
            Contact us at: (021)-541-1000 <br>
            info@perfectpizza.co.za <br>
            Twitter/Facebook/Instagram <br>
            @perfectpizza
        </p>

        <p id="location">
            Pizza Plaza <br>
            Dough Road <br>
            Base Town
        </p>
        
    </div>

    <div class="footer">
        Sudarshan R. Vittal | Pizza Pamphlet - Perfect Pizza | ProjectCodeX | 2021
    </div>

</body>

</html>